@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    position:fixed;
    width:100%;
    background-color:crimson;
}
/*nav{
    float:right;
}
.col-9{
    float:right;
} */
