@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    position:fixed;
    width:100%;
    background-color:lightblue;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .logo a{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.navbar .menu li a{
    color:#fff;
}
.navbar .menu li{
    list-style:none;
    display: inline-block;
}
.navbar .max-width {
    display:flex;
    align-items: center;
}
/*nav{
    float:right;
}
.col-9{
    float:right;
} */
